@tailwind base;
@tailwind components;
@tailwind utilities;

.index-background {
  background-image: url("/assets/images/background-sphere.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.active {
  font: bold;
  color: green;
  border-bottom: 1px solid green;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.text-blue {
  color: blue;
}

.text-orange {
  color: orange;
}
